@font-face {
 font-family: ABCSansNovaRegular;
 src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
 font-family: ABCSansNovaBlack;
 src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
 font-family: ABCSansNovaLight;
 src: url(../fonts/ABCSansNova-Light.otf);
}
:root {
  font-size: 1em;
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  box-sizing: border-box;
  color: #001533;
}
body {
  margin: 0;
  overflow: hidden;
}
#container {
  display: flex;
  flex-flow: column;
  width: 100%;
  opacity: 0;
}
#yearLabel {
  color: #001533;
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  font-size: 1.5rem;
  padding-bottom: .5rem;
}
#slider input {  
  -webkit-appearance: none;
  width: 98%;
  height: 1rem;
  border-radius: .5rem;
  background: #e6e6e6;
  opacity: .75;
  outline: none;
}
#slider input:hover {
  opacity: 1;
}
#slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #001533;
  cursor: pointer;
}
#slider input::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #001533;
  cursor: pointer;
}
.axis .domain {
  display: none;
}
.axis .tick text {
  fill: #68788e;
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  font-size: 1.1rem;
}
#xAxisGroup .tick text {
  font-size: 1.2rem;
}
.axis .tick line {
  stroke: #8495a9;
  stroke-dasharray: 2 3;
}
#fewerColor {
  fill: #cc4e00;
  clip-path: url(#fewer);
}
#moreColor {
  fill: #009de5;
  clip-path: url(#more);
}

@media only screen and (max-width: 500px) {
  #yearLabel {
    font-size: 1.3rem;
  }
  #slider input {
    height: .8rem;
    border-radius: .4rem;
  }
  #slider input::-webkit-slider-thumb {
    width: 1.2rem;
    height: 1.2rem;
  }
  #slider input::-moz-range-thumb {
    width: 1.2rem;
    height: 1.2rem;
  }
  .axis .tick text {
    font-size: .9rem;
  }
  #xAxisGroup .tick text {
    font-size: 1rem;
  }
}
