@font-face {
  font-family: ABCSansNovaRegular;
  src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
  font-family: ABCSansNovaBlack;
  src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
  font-family: ABCSansNovaLight;
  src: url(../fonts/ABCSansNova-Light.otf);
}
:root {
  font-size: 1em;
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  color: #001533;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}
#container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
}
#chart {
  height: 100%;
}
#footer {
  font-family: ABCSansNovaLight, "Arial Narrow", Helvetica, sans-serif;
  margin-top: 10px;
  font-size: .9rem;
  color: #888;
}
#axisGroup #axisLabel {
  fill: #001533;
  font-size: 1.1rem;
  text-anchor: start;
}
#axisGroup .domain {
  stroke: none;
}
#axisGroup .tick line {
  stroke: #8495a9;
  stroke-dasharray: 2 2;
}
#axisGroup .tick text {  
  font-size: .9rem;
  fill: #001533;
}
#averageLine {
  stroke: #8495a9;
  stroke-width: 7.5;
  opacity: .5;
  fill: none;
}
#currentLine {
  stroke: #037cc2;
  stroke-width: 3;
  fill: none;
}
#predictionLower, #predictionUpper {
  stroke: #037cc2;
  stroke-width: 3;
  stroke-dasharray: 4 2;
  fill: none;
}
#predictionLine {
  fill: rgba(0, 157, 229, .5);
}
#legend {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 10px;
  font-size: .9rem;
}
#legend .key {
  display: flex;
  flex-flow: row;
  margin-right: 1rem;
}
#legend:last-child .key {
  margin-right: 0;
}
#legend .box {
  height: 1.2rem;
  width: 1.2rem;  
  margin-right: .5rem;
}
#legend .label {
  line-height: 1.2rem;
}
#legend .key:first-child .box {
  height: .6rem;
  border-bottom: #037cc2 solid;
}
#legend .key:nth-child(2) .box {
  border: #037cc2 dotted;
  height: .6rem;
  background: rgba(0, 157, 229, .5);
}
#legend .key:last-child .box {
  background: #8495a9;
  opacity: .5;
}

@media only screen and (max-width: 600px) {
  #axisGroup #axisLabel {
    font-size: 1rem;
  }
  #axisGroup .tick text {
    font-size: .8rem;
  }
  #footer {
    font-size: .8rem;
  }
  #averageLine {
    stroke-width: 5;
  }
  #legend {
    flex-flow: column;
    align-items: center;
    font-size: .8rem;
  }
  #legend .key {
    margin-right: 0;
    margin-bottom: .25rem;
  }
  #legend:last-child .key {
    margin-bottom: 0;
  }
  #legend .box {
    height: 1.1rem;
    width: 1.1rem;  
    margin-right: 1rem;
  }
  #legend .label {
    line-height: 1.1rem;
  }
  #legend .key:first-child .box {
    height: .5rem;
  }
  #legend .key:nth-child(2) .box {
    height: .9rem;
  }
  #legend .key:last-child .box {    
  }
}

@media (prefers-color-scheme: dark) {
  body.darkMode {
    color: white;
    background: black;
  }
  .darkMode #footer {
    color: #888;
  }
  .darkMode #legend {
    color: #ccc;
  }
  .darkMode #axisGroup #axisLabel {
    fill: white;
  }  
  .darkMode #axisGroup .tick line {
    stroke: #8495a9;
  }
  .darkMode #axisGroup .tick text {      
    fill: #8495a9;
  }
  .darkMode #averageLine {
    opacity: .75;
  }
  .darkMode #legend .key:last-child .box {
    opacity: .75;
  }
}