@font-face {
 font-family: ABCSansNovaRegular;
 src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
 font-family: ABCSansNovaBlack;
 src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
 font-family: ABCSansNovaLight;
 src: url(../fonts/ABCSansNova-Light.otf);
}
:root {
  font-size: 1em;
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  box-sizing: border-box;
  color: #001533;
}
body {
  margin: 0;
}
#container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
#container>* {
  flex: 1 1 35%;
}
#container svg {
  margin-top: 1rem;
  width: 100%;
}
#container svg:first-child, #container svg:nth-child(2) {
  margin-top: 0;
}
#container svg:nth-child(odd) {
  margin-right: 1rem;
}
.title {
  font-size: 1.1rem;
  text-anchor: middle;
}
.bar {
  stroke: white;
}
.axis .tick text {
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  fill: #68788e;
  font-size: .9rem;
}
.axis .tick line {
  stroke: #8495a9;
  stroke-dasharray: 2 3;
}
.axis .domain {
  stroke: #8495a9;
}
.axisLabel {
  fill: #001533;
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  font-weight: bold;
  font-size: .8rem;
}

@media only screen and (max-width: 500px) {
  #container svg {
    margin-top: .5rem;
  }
  #container svg:nth-child(odd) {
    margin-right: .5rem;
  }  
  .title {
    font-size: .9rem;
  }
  .axis .tick text {
    font-size: .75rem;
  }
  .axisLabel {
    font-size: .7rem;
  }
}