@font-face {
 font-family: ABCSansNovaRegular;
 src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
 font-family: ABCSansNovaBlack;
 src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
 font-family: ABCSansNovaLight;
 src: url(../fonts/ABCSansNova-Light.otf);
}
:root {
  font-size: 1em;
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  color: #001533;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}
#container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
}
#header {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
}
#chart {
  height: 100%;
  display: flex;
  flex-flow: column;
}
#imageHolder {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column;
}
#title {
  position: absolute;
  background: #037cc2;
  padding: .25rem .5rem;
  font-size: 2em;
  color: white;
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
}
.image {
  position: absolute;
  width: 100%;
  background-size: cover;
}
#footer {
  font-family: ABCSansNovaLight, "Arial Narrow", Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 12px;
  color: #888;
}

@media only screen and (max-width: 600px) {
  #header {
    font-size: 18px;
  }
  #title {
    font-size: 1.5rem;
  }
  #footer {
    font-size: 11px;
  }
}
